# Sample UserPlex configuration file

ldap:
    uri: "ldap://ldap.example.net/dc=example,dc=net"
    username: bobkelso
    password: donut
    # set to false if you use self-signed certs or unknown CAs (bad!)
    insecure: false
    # only used if uri isn't ldaps (TLS)
    starttls: true
    # when using client certificates to connect to ldap, configure
    # then below
    tlscert: client.crt
    tlskey:  client.key
    tlsca:   ca.crt


# A UID map translates a ldapuid into a useduid
mycustomawsuidmap1: &CUSTOMMAP1
    - ldapuid: bkelso
      useduid: bob

    - ldapuid: tanderson
      useduid: neo

modules:

    # authorizedkeys is a module that pull the public keys of a user and
    # writes them down into the destination
    - name: authorizedkeys
      ldapgroups:
        - sysadmins
        - developers
        - devssh
      create: true
      delete: true
      # anchor to the uid map defined above
      uidmap: *CUSTOMMAP1
      parameters:
          # destination is where the public keys are written
          # {ldap:uid} means the "uid" attribute is used to create
          # a file for each user in the groups listed above
          destination: /data/puppet/modules/users/files/{ldap:uid}/.ssh/authorized_keys
          # deletionmarker is a string that tells userplex how to recognize
          # files it manages, in order to delete them when the users are no
          # longer present in ldap
          deletionmarker: allsshusers

    - name: authorizedkeys
      ldapgroups:
        - sysadmins
      create: true
      delete: false
      uidmap: *CUSTOMMAP1
      parameters:
          # root is a special group that only has one authorized_keys file
          # and all the keys of all the group members are added to it
          destination: /data/puppet/modules/users/files/root/.ssh/authorized_keys

    # aws_iam manage users in AWS
    - name: aws
      ldapgroups:
        - sysadmins
        - developers
      # create users that exist in ldap and not in aws. also makes sure that
      # users are assigns to their roles, even if removed manually.
      create: true
      # delete aws users that are in the roles but no longer in ldap
      delete: true
      parameters:
          # users will be added to the following IAM groups
          iamgroups:
            - ldapmanaged
          # send email notifications to new users. If disabled, passwords of new
          # users are logged in the userplex output
          notifynewusers: true
          # from address for notifications
          smtpfrom: "User Operations <userops+userplex@example.net>"
          smtprelay: "localhost:25"
          signinurl: "https://myawsaccount.signin.aws.amazon.com/console"
      credentials:
          # leave these blank if your credentials are set as env variables,
          # or if you use AWS roles (which puts STS creds in the env)
          accesskey: AKIAnnnn
          secretkey: YOLOMAN

    # datadog invites users to datadog
    - name: datadog
      ldapgroups:
        - sysadmins
      credentials:
          apikey: 9775a026f1ca7d1c6c5af9d94d9595a4
          appkey: 87ce4a24youcouldntpossiblythinkthisisakey
